<hr />
<div class="footer" [@fadefaster]>
  <ul class="footer-social-icons smallerSocials">
    <li>
      <a href="https://www.facebook.com/"><i class="fa fa-facebook-square"></i></a>
    </li>
    <li>
      <a href="https://www.instagram.com/piotrffiti/"><i class="fa fa-instagram"></i></a>
    </li>
    <li>
      <a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a>
    </li>
  </ul>
  <hr />
  <div class="container">
    <div class="row">
      <span
        ><a class="admin smallerAdmin" routerLink="/admin"><i class="fa fa-user-circle-o" aria-hidden="true"></i>admin</a></span
      >
    </div>
  </div>
</div>
