<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="display-4 d-flex" style="justify-content: center">About Me</h3>
        <span class="dash"></span>
      </div>
    </div>
  </div>

  <div class="about-container-main">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="about-content">
          <div class="row">
            <article class="about-text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam temporibus aperiam eos mollitia laborum. Obcaecati ea ad voluptas
              maiores officiis expedita repudiandae provident vitae repellat, molestiae illo odio, consectetur quae. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Quae quia, magni similique quis quam ratione ea sed hic illo explicabo quaerat incidunt reiciendis libero,
              doloremque ducimus cumque nostrum, nulla quos! Lorem ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quia, magni
              similique quis quam ratione ea sed hic illo sed hic illo sed hic illo sed...
            </article>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-md-12">
        <div class="about-content-image text-center">
          <img class="img-fluid" src="../../../assets/img/about_image.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>
