$color-product-detail-btn-hover: rgba(161, 161, 161, 0.474);
$color-product-detail-btn-hover-shadow: rgb(182, 182, 182);
$color-product-detail-link-social: rgb(182, 182, 182);
$color-social-facebook: hsl(221, 44%, 41%);
$color-product-detail-black-line: #333333;

.about {
  padding-top: 2rem;
  h3 {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
  &-container-main {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .dash {
    width: 5rem;
    padding: 0.2rem;
    margin: 1.1rem auto;
    display: table;
    background-color: $color-product-detail-link-social;
  }
  &-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: center;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;

    &-image {
      width: 100%;
    }
  }

  &-price {
    font-weight: bold;
    font-size: 1.5rem;

    .currency {
      position: relative;
      top: -2.5px;
    }

    .price {
      font-weight: bold;
      font-size: 2rem;
    }
  }

  .about-text {
    text-align: justify;
    padding: 1rem;
    padding-top: 0;
    margin: 2rem;
    margin-top: 0;
  }

  .btn {
    &-social {
      margin-top: 2rem;
      &-share {
        width: 18rem;
        padding: 0.7rem 0;
        font-size: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        background: transparent;
        border: 1px solid $color-product-detail-link-social;
        border-radius: 0px;

        &:last-child {
          margin-bottom: 2rem;
        }

        &:hover a {
          color: $color-product-detail-btn-hover;
        }

        &:hover i {
          color: $color-product-detail-btn-hover;
        }

        &:hover {
          outline: 0;
        }

        i {
          color: $color-social-facebook;
        }

        a {
          color: $color-product-detail-link-social;
        }
      }
    }
  }
}
