<div class="position-fixed bottom-0 end-0">
  <div
    *ngFor="let alert of alerts; let i = index"
    class="alert-wrapper end-0"
    [ngClass]="{
      'success-alert': alert.type === TYPES.SUCCESS,
      'error-alert': alert.type === TYPES.ERROR,
      'info-alert': alert.type === TYPES.INFO
    }"
  >
    <div class="alert-message-wrapper">
      <p class="actions-row">
        <i class="fa fa-copy" [@zoomOut]="alerts[i].zoomOut" (click)="copyMessage(alert.mssg, i)"></i>
        <i class="fa fa-close" (click)="onClose(alerts[i].uuid)"></i>
      </p>
      <div class="message">
        <pre>{{ alert.mssg }}</pre>
      </div>
    </div>
  </div>
</div>
